@model TraineeTracker.App.Models.Tracker

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tracker</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDoingText" class="control-label"></label>
                <input asp-for="StartDoingText" class="form-control" />
                <span asp-validation-for="StartDoingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StopDoingText" class="control-label"></label>
                <input asp-for="StopDoingText" class="form-control" />
                <span asp-validation-for="StopDoingText" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContinueDoingText" class="control-label"></label>
                <input asp-for="ContinueDoingText" class="form-control" />
                <span asp-validation-for="ContinueDoingText" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsReviewed" /> @Html.DisplayNameFor(model => model.IsReviewed)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="TechnicalSkill" class="control-label"></label>
                <input asp-for="TechnicalSkill" class="form-control" min="1" max="5" value="1"/>
                <span asp-validation-for="TechnicalSkill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SpartanSkill" class="control-label"></label>
                <input asp-for="SpartanSkill" class="form-control" min="1" max="5" value="1" />
                @*NOTE: Value attribute assigns default value, min max limit the input field on the form.*@
                <span asp-validation-for="SpartanSkill" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
